doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 応募フォーム(仮)
    style(type="text/css").
      body{
        background-color: #87CEFA;
        text-align:center
      }
  body
    h1 このようなキャンペーンがあったとしたなら・・・<br>どの一品をお選びになりますか？
    h2
     form(method="post" action=path)
      span お住まいの地域
      br
      input(type="checkbox" name="chiiki" value="北海道")
      | 北海道
      input(type="checkbox" name="chiiki" value="本州")
      | 本州
      input(type="checkbox" name="chiiki" value="四国")
      | 四国
      input(type="checkbox" name="chiiki" value="九州・沖縄")
      | 九州・沖縄
      input(type="checkbox" name="chiiki" value="そのほかの地域")
      | そのほかの地域
      br
      br
      span ニックネーム
      input(type="text" name="ニックネーム")
      br
      br
      input(type="radio" name="favorite" value=firstItem)
      | #{firstItem}
      input(type="radio" name="favorite" value=secondItem)
      | #{secondItem}
      input(type="radio" name="favorite" value=thirdItem)
      | #{thirdItem}
      br
      input(type="radio" name="favorite" value=fourthItem)
      | #{fourthItem}
      input(type="radio" name="favorite" value=fifthItem)
      | #{fifthItem}
      input(type="radio" name="favorite" value=sixthItem)
      | #{sixthItem}
      br
      button(type="submit") 決定
